/*  Project: Night Mode 
 *   Author: Asif Mughal
 *   URL: www.codehim.com
 *   License: MIT License
 *   Copyright (c) 2018 - Asif Mughal
 */
/* FILE : night-mode.css */
.night-trigger {
    position: fixed;
    top: 120px;
    right: 38px;
    padding: 10px;
    font-size: 18px;
    background: #212121;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 18px;
    text-align: center;
}
.loading{
    width: 320px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -30px;
    text-align: center;
    display: none;
}

.loading .fa{
   color: #16a085; 
   font-size: 52px;
}

.success-mesg{
    background: #fff;
    width: 320px;
    height: 200px;
    font-size: 13px;
    padding: 15px 10px;
    position: fixed;
    box-shadow: 2px 2px 8px #000;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -160px;
    text-align: center;
    color: #444;
    animation: showUp .4s forwards;
 -webkit-animation: showUp .4s forwards;
    display: none;
    box-sizing: border-box;
}

@keyframes showUp {
 from { transform: scale(0.2);
      -webkit-transform: scale(0.2);}
 to { transform: scale(1);
      -webkit-transform: scale(1); }
  }
-webkit-@keyframes showUp {
 from { transform: scale(0.2);
      -webkit-transform: scale(0.2);}
 to { transform: scale(1);
      -webkit-transform: scale(1); }
  }

.success-mesg .large{
    font-size: 52px;
    display: block;
    color: #16a085;
    background: #fff;   
}

.confirm{
    padding: 10px;
    background: #16a085;
    color: #fff;
    border: none;
    outline: none;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.confirm:hover{
    background: #333;
    transition: .2s;
  -webkit-transition: .2s;
}

.success-mesg .fa-adjust{
   left: 40px;
}
.success-mesg .fa-adjust,
.success-mesg span{
    position: absolute;
    font-size: 16px;
}
.success-mesg span{
    right: 20px;
}